<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/sda_project_1?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>
        <property name="connection.pool_size">5</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="model.Product"/>
        <mapping class="model.Customer"/>
        <mapping class="model.Order"/>
        <mapping class="model.OrderItem"/>
    </session-factory>
</hibernate-configuration>